# Configurações do Supabase para TeleVet
SUPABASE_URL=https://griohqwryktqupvcfskh.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdyaW9ocXdyeWt0cXVwdmNmc2toIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAwMTcxMzUsImV4cCI6MjEwNTU5MzEzNX0.IfJ-NX3OMmx-RZt72H2ZkrHPXyTAUbe3GYk7Dbom0T8
SUPABASE_PUBLISHABLE_KEY=sb_publishable_4uGrCM44tRINJ97YXwZCEQ_rBc-wc1k
